<% if @result==0 %>
<font size="6" color="blue">
<p>不正解</p>
</font>
<!--
<p>
<font size="4" color="white">
正解は
</font>
<font size="4" color="yellow">
<%= @collect_answer %>
</font>
</p>
-->
<% elsif @result==1 %>
<font size="6" color="red">
<p>正解！</p>
</font>
<% end %>