$("#result").html("<%= j render partial:'partial1' %>");
var button1 = document.getElementById(<%= @number_chosen %>);
<% if @result==1 %>
button1.style.backgroundColor = "red";
<% else %>
button1.style.backgroundColor = "blue";
<% end %>