<body style="margin-left:60px" onLoad="rect(<%= @accuracy %>)" bgcolor="lemonchiffon">
	<font>
		<h1>学習システムver.1.2</h1>
		<div align="right" style="margin-right:150px"><%= link_to 'ログアウト', login_path, :confirm => 'ログアウトしますか？', :method => :delete %></div>
		<br>
		<p><%= @num_of_questions %> 問から出題</p>
		<br><br>
		<center>
			<p><%= image_tag @question.question %></p>
			<% @qdata=Array[] %>
			<% @qdata[0]=@question.answer %>
			<% @qdata[1]=@question.dummy1 %>
			<% @qdata[2]=@question.dummy2 %>
			<% @qdata[3]=@question.dummy3 %>
			<% @qdata.shuffle! %>
			<% @qdata.push(@question.answer) %>
			<br><br><%= button_to '1. '+@qdata[0],button_path(qid:@question.qid,chosen:@qdata[0],answer:@qdata[4],btnid:1),method: :get,remote:true,id:1,style:"height:30px" %>
			<br><br><%= button_to '2. '+@qdata[1],button_path(qid:@question.qid,chosen:@qdata[1],answer:@qdata[4],btnid:2),method: :get,remote:true,id:2,style:"height:30px" %>
			<br><br><%= button_to '3. '+@qdata[2],button_path(qid:@question.qid,chosen:@qdata[2],answer:@qdata[4],btnid:3),method: :get,remote:true,id:3,style:"height:30px" %>
			<br><br><%= button_to '4. '+@qdata[3],button_path(qid:@question.qid,chosen:@qdata[3],answer:@qdata[4],btnid:4),method: :get,remote:true,id:4,style:"height:30px" %>
			<br><br><br>
			<div id="result">
			</div>
			<br><br><%= button_to 'NEXT',ajax_method_path(reload:'next'),method: :get,remote:true,id:5,style:"height:30px" %>
			<br><br><%= button_to 'RANDOM',ajax_method_path(reload:'random'),method: :get,remote:true,id:6,style:"height:30px" %>
			<br><br>
			<canvas id="gauge"></canvas>
		</center>
	</font>
</body>
<script type="text/javascript">
	function rect(accuracy){
		if (HTMLCanvasElement) {
			var canvas = document.getElementById('gauge');
			var context = canvas.getContext('2d');
			context.fillStyle = "rgb(0, 0, 255)";
			context.fillRect(0,0,500,20);
			context.fillStyle = "rgb(255, 0, 0)";
			context.fillRect(0,0,500*accuracy,20);
		}
	}
</script>