<h1>学習システムver.1.2</h1>

<br>

<h3>ユーザ登録</h3>

<%= form_for(@user, url: { controller: :registers, action: :new }) do |f| %>

  <div class="field">
    <%= f.label :name, "UserID" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password_digest, "Password" %>
    <%= f.text_field :password %>
  </div>
  
  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>

<br><br>
<%= link_to "ログイン画面へ", login_path %>