<h1>学習システムver.1.2</h1>
<br><br>
<% if current_user==nil %>
<%= link_to "ログイン画面へ", login_path %>
<% else %>
<%= link_to '学習スタート！', 'http://localhost:3000/questions/show' %>
<br><br>
<%= link_to 'ログアウト', login_path, :confirm => 'ログアウトしますか？', :method => :delete %>
<% end %>