<h1>学習システムver.1.2</h1>

<br>

<h3>ログイン</h3>

<p><font color=red><%= flash[:alert] %></font></p>
<%= form_tag login_path do %>
<table id="login_form">
  <tr>
    <td><%= label_tag :name, 'UserID' %></td>
    <td><%= text_field_tag :name, params[:name] %></td>
  </tr>

  <tr>
    <td><%= label_tag :pass, 'Password' %></td>
    <td><%= password_field_tag :pass, params[:pass] %></td>
  </tr>

  <tr>
    <td><%= submit_tag "Login" %></td>
  </tr>
</table>
<% end %>

<br><br>
<%= link_to "ユーザ登録画面へ", register_path %>