<body style="margin-left:60px">
<h1>学習システムver.0.5</h1>
<br>

<p>(ノ-ロ-)ノ <%= @questions.length %> 問から</p><%=@result%>
<br><br>


<% @question=@questions.sample %>
<p><%= @question.question %></p>
<% @ch=Array[] %>
<% @ch[0]=@question.answer %>
<% @ch[1]=@question.dummy1 %>
<% @ch[2]=@question.dummy2 %>
<% @ch[3]=@question.dummy3 %>
<% @ch.shuffle! %>
<center>

<%= button_to "1. "+@ch[0], :remote=>true %>
<%= button_to "2. "+@ch[1], :remote=>true %>
<%= button_to "3. "+@ch[2], :remote=>true %>
<%= button_to "4. "+@ch[3], :remote=>true %>

<br><br><button id=0 onclick="judgment(id,'<%= @ch[0] %>');archive()" style="width:240px; height:30px">1. <%= @ch[0] %></button>
<br><br><button id=1 onclick="judgment(id,'<%= @ch[1] %>');archive()" style="width:240px; height:30px">2. <%= @ch[1] %></button>
<br><br><button id=2 onclick="judgment(id,'<%= @ch[2] %>');archive()" style="width:240px; height:30px">3. <%= @ch[2] %></button>
<br><br><button id=3 onclick="judgment(id,'<%= @ch[3] %>');archive()" style="width:240px; height:30px">4. <%= @ch[3] %></button>
<br><br><br>
<div id="result"></div>
<br><br>
<button onclick="next(id)" style="width:100px; height:30px">NEXT</button>
</center>
</body>


<script type="text/javascript">
answered=false

function judgment(id,choice){
if(answered==false){
$.ajax({url:'/questions/show/:result',type:'POST',dataType:'json',async:false,data:{result:1},});

if(choice=='<%= @question.answer %>'){
var button1 = document.getElementById(id);
button1.style.backgroundColor = "red";
document.getElementById("result").innerHTML='正解！';
$.ajax({url:'/questions/show/:result',type:'POST',dataType:'json',async:false,data:{result:1},});

}else{
var correct
<% 4.times do |i| %>
<% if(@ch[i]==@question.answer) then %>
correct = <%= i %>
<% end %>
<% end %>
var button1 = document.getElementById(id);
button1.style.backgroundColor = "blue";
var button2 = document.getElementById(correct);
button2.style.backgroundColor = "red";
document.getElementById("result").innerHTML='不正解';

}

answered=true
}
}

function next(){
window.location.reload();
}

function archive(){
<% @temp=Temporary.find(1) %>
<% Archive.create(qid:@question.qid,result:@result,one_before_qid:@temp.one_before_qid,one_before_result:@temp.one_before_result,two_before_qid:@temp.two_before_qid,two_before_result:@temp.two_before_result,three_before_qid:@temp.three_before_qid,three_before_result:@temp.three_before_result) %>
<% @temp.three_before_qid=@temp.two_before_qid %>
<% @temp.three_before_result=@temp.two_before_result %>
<% @temp.two_before_qid=@temp.one_before_qid %>
<% @temp.two_before_result=@temp.one_before_result %>
<% @temp.one_before_qid=@question.qid %>
<% @temp.one_before_result=@temp.result %>
<% @temp.save %>
}
</script>
