<body style="margin-left:60px" onLoad="rect(<%= @accuracy %>)" bgcolor="#000000">
<font color="#ffffff">
<h1>学習システムver.0.4</h1>
<br>
<p><%= @questions.length %> 問から出題</p>
<br><br>
<% @question=@questions.sample %>
<p><%= @question.question %></p>
<% @qdata=Array[] %>
<% @qdata[0]=@question.answer %>
<% @qdata[1]=@question.dummy1 %>
<% @qdata[2]=@question.dummy2 %>
<% @qdata[3]=@question.dummy3 %>
<% @qdata.shuffle! %>
<% @qdata.push(@question.answer) %>
<center>
<br><br><%= button_to '1. '+@qdata[0],button_path(qid:@question.qid,chosen:@qdata[0],answer:@qdata[4]),method: :get,remote:true,id:1,style:"height:30px" %>
<br><br><%= button_to '2. '+@qdata[1],button_path(qid:@question.qid,chosen:@qdata[1],answer:@qdata[4]),method: :get,remote:true,id:2,style:"height:30px" %>
<br><br><%= button_to '3. '+@qdata[2],button_path(qid:@question.qid,chosen:@qdata[2],answer:@qdata[4]),method: :get,remote:true,id:3,style:"height:30px" %>
<br><br><%= button_to '4. '+@qdata[3],button_path(qid:@question.qid,chosen:@qdata[3],answer:@qdata[4]),method: :get,remote:true,id:4,style:"height:30px" %>
<br><br><br>
<div id="ajax1"></div>
<div id="result"></div>
<br><br>
<button onclick="next()" style="width:100px; height:30px">NEXT</button>
<br><br>
<canvas id="gauge"></canvas>
</center>
</font>
</body>
<script type="text/javascript">
function rect(accuracy){
if (HTMLCanvasElement) {
var canvas = document.getElementById('gauge');
var context = canvas.getContext('2d');
context.fillStyle = "rgb(0, 0, 255)";
context.fillRect(0,0,500,20);
context.fillStyle = "rgb(255, 0, 0)";
context.fillRect(0,0,500*accuracy,20);
}
}
function next(){
window.location.reload();
}
</script>
